/* Global Styles */

* {
	opacity: 0.9;
}

body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	text-align: center;
	margin: 0;
}

/* Header */

.header {
	width: 100%;
	height: 69px;
	display: block;
	position: fixed;
	top: 0px;
	border-bottom: 1px solid seashell;
	z-index: 10;
	background-color: black;
}

.logo {
	height: 50px;
	float:  left;
	padding: 9.5px 0 9.5px 10px;
}

.navigation {
	float: right;
	height: 100%;
	margin: 0 auto;
}

.navigation a {
	height: 100%;
	display: table;
	float: left;
	padding: 0px 20px;
}

.navigation a li {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	text-decoration: underline;
	color: seashell;
}

/* Our Mission */

.mission-container {
	background-image: urL("media/img-mission-background.webp");
	background-repeat: no-repeat;
	background-position: center;
	height: 700px;
	max-width: 1200px;
	margin: 69px auto;
	display: flex;
	z-index: 5;
}

.text-over {
	margin: auto;
	background-color: black;
	width: 100%;
}

.text-over h2, .text-over h4 {
	padding: 10px;
	margin: 0;
}