/* Global Styles */

* {
	opacity: 0.9;
}

body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	text-align: center;
	margin: 0;
}

/* Header */

.header {
	width: 100%;
	height: 69px;
	display: block;
	position: fixed;
	top: 0px;
	border-bottom: 1px solid seashell;
	z-index: 10;
	background-color: black;
	opacity: 1;
}

.logo {
	height: 50px;
	float:  left;
	padding: 9.5px 0 9.5px 10px;
	opacity: 1;
}

.navigation {
	float: right;
	height: 100%;
	margin: 0 auto;
	opacity: 1;
}

.navigation a {
	height: 100%;
	display: table;
	float: left;
	padding: 0px 20px;
	opacity: 1;
}

.navigation a li {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	text-decoration: underline;
	color: seashell;
	opacity: 1;
}

/* Our Mission */

.mission-container {
	background-image: urL("media/img-mission-background.webp");
	background-repeat: no-repeat;
	background-position: center;
	height: 700px;
	max-width: 1200px;
	margin: 69px auto;
	display: flex;
	z-index: 5;
}

.text-over {
	margin: auto;
	background-color: black;
	width: 100%;
}

.text-over h2, .text-over h4 {
	padding: 10px;
	margin: 0;
}

/* Tea of the Month */

.featured-tea {
	font-weight: bold;
}

.image-container {
	max-width: 1000px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

.image-container figure {
	margin: 0;
	padding: 30px 15px 10px 15px;
}

.image-container img {
	height: 200px;
	width: 300px;
	padding-bottom: 10px;
}

/* Locations */

.banner {
	height: 500px;
	max-width: 1200px;
	margin: 80px auto auto auto;
	padding-top: 140px;
	background-image: url("media/img-locations-background.webp");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.banner h2 {
	padding: 0;
	margin: 0;
}

.box-container {
	max-width: 1050px;
	margin: 15px auto auto auto;
	display: flex;
	justify-content: space-between;
	opacity: 1;
}

.box {
	height: 300px;
	padding: 20px;
	margin-bottom: auto;
	flex-basis: 30%; 
	box-sizing: border-box;
	background-color: black;
	opacity: 1;
}

/* Contact */

.contact {
	height: 200px;
	max-width: 1000px;
	margin: auto;
}

/* Footer */

footer {
	opacity: 1;
	text-align: left;
	margin-left: 20px;
}
