/* Global Styles */

* {
	margin: 0;
	padding: 0;
	opacity: 0.9;
}

body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	text-align: center;
}

/* Header */

header {
	width: 100%;
	height: 69px;
	border-bottom: 1px solid seashell;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	z-index: 10;
}

header img {
	margin-left: 10px;
	height: 50px;
	width: auto;
}

#navigation {
	margin-left: auto;
}

#navigation ul {
	list-style: none;
}

#navigation li {
	padding: 10px;
	display: inline;
	text-decoration: underline;
}

/* Our Mission */

#our-mission {
	position: relative;
	margin: auto;
	top: 69px;
	height: 700px;
	width: 1200px;
	z-index: 5;
	background-image: urL("media/img-mission-background.webp");
}

#our-mission div {
	background-color: black;
	position: relative;
	top: 50%;
	transform: translateY(-50%)
}

#our-mission div h2 {
	padding:  10px;
}

#our-mission div h4 {
	padding-bottom: 10px;
}